USE [master]
GO
/****** Object:  Database [CAMPO]    Script Date: 3/6/2026 21:05:55 ******/
CREATE DATABASE [CAMPO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CAMPO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CAMPO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CAMPO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CAMPO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CAMPO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CAMPO]
GO
/****** Object:  Table [dbo].[AUDITORIA]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDITORIA](
	[AUDITORIA_ID] [int] NOT NULL,
	[TABLA] [varchar](50) NULL,
	[REGISTRO_ID] [int] NULL,
	[CAMPO] [varchar](50) NULL,
	[VALOR_ANTERIOR] [varchar](50) NULL,
	[VALOR_NUEVO] [varchar](50) NULL,
	[USUARIO_ID] [int] NULL,
	[FECHA] [datetime] NULL,
 CONSTRAINT [PK_AUDITORIA] PRIMARY KEY CLUSTERED 
(
	[AUDITORIA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BITACORA]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA](
	[BITACORA_ID] [int] NOT NULL,
	[USUARIO_ID] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ACTIVIDAD] [varchar](50) NOT NULL,
	[CRITICIDAD_ID] [int] NOT NULL,
 CONSTRAINT [PK_BITACORA] PRIMARY KEY CLUSTERED 
(
	[BITACORA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDIOMA]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDIOMA](
	[IDIOMA_ID] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[CODIGO] [varchar](50) NULL,
 CONSTRAINT [PK_IDIOMA] PRIMARY KEY CLUSTERED 
(
	[IDIOMA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFIL]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL](
	[PERFIL_ID] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PERFIL] PRIMARY KEY CLUSTERED 
(
	[PERFIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFIL_PERMISO]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL_PERMISO](
	[PERFIL_ID] [int] NOT NULL,
	[PERMISO_ID] [int] NOT NULL,
 CONSTRAINT [PK_PERFIL_PERMISO] PRIMARY KEY CLUSTERED 
(
	[PERFIL_ID] ASC,
	[PERMISO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[PERMISO_ID] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[TIPO] [varchar](50) NULL,
 CONSTRAINT [PK_PERMISO] PRIMARY KEY CLUSTERED 
(
	[PERMISO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO_RELACION]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO_RELACION](
	[PERMISO_PADRE_ID] [int] NOT NULL,
	[PERMISO_HIJO_ID] [int] NOT NULL,
 CONSTRAINT [PK_PERMISO_RELACION] PRIMARY KEY CLUSTERED 
(
	[PERMISO_PADRE_ID] ASC,
	[PERMISO_HIJO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SESION]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESION](
	[SESION_ID] [int] NULL,
	[USUARIO_ID] [int] NULL,
	[FECHA_LOGIN] [datetime] NULL,
	[FECHA_LOGOUT] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRADUCCION]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRADUCCION](
	[TRADUCCION_ID] [int] NOT NULL,
	[CLAVE] [varchar](50) NULL,
	[IDIOMA_ID] [int] NULL,
	[TEXTO] [varchar](50) NULL,
 CONSTRAINT [PK_TRADUCCION] PRIMARY KEY CLUSTERED 
(
	[TRADUCCION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[USUARIO_ID] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO] [varchar](50) NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[PASS_HASH] [varchar](max) NOT NULL,
	[BORRADO] [int] NOT NULL,
	[SALT] [varchar](50) NULL,
	[IDIOMA_ID] [int] NULL,
	[INTENTOS] [int] NULL,
	[BLOQUEADO] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[USUARIO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_PERFIL]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_PERFIL](
	[USUARIO_ID] [int] NOT NULL,
	[PERFIL_ID] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO_PERFIL] PRIMARY KEY CLUSTERED 
(
	[USUARIO_ID] ASC,
	[PERFIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BITACORA] ([BITACORA_ID], [USUARIO_ID], [FECHA], [ACTIVIDAD], [CRITICIDAD_ID]) VALUES (1, 2, CAST(N'2026-04-18T20:33:16.547' AS DateTime), N'2 inició sesión.', 0)
INSERT [dbo].[BITACORA] ([BITACORA_ID], [USUARIO_ID], [FECHA], [ACTIVIDAD], [CRITICIDAD_ID]) VALUES (2, 2, CAST(N'2026-04-18T20:33:59.983' AS DateTime), N'2 intentó iniciar sesión con contraseña incorrecta', 1)
INSERT [dbo].[BITACORA] ([BITACORA_ID], [USUARIO_ID], [FECHA], [ACTIVIDAD], [CRITICIDAD_ID]) VALUES (3, 2, CAST(N'2026-04-18T20:45:49.707' AS DateTime), N'2 intentó iniciar sesión con contraseña incorrecta', 1)
GO
INSERT [dbo].[IDIOMA] ([IDIOMA_ID], [NOMBRE], [CODIGO]) VALUES (1, N'Español', N'es')
INSERT [dbo].[IDIOMA] ([IDIOMA_ID], [NOMBRE], [CODIGO]) VALUES (2, N'English', N'en')
INSERT [dbo].[IDIOMA] ([IDIOMA_ID], [NOMBRE], [CODIGO]) VALUES (3, N'Français', N'fr')
GO
INSERT [dbo].[TRADUCCION] ([TRADUCCION_ID], [CLAVE], [IDIOMA_ID], [TEXTO]) VALUES (1, N'titulo.login', 1, N'Log In')
INSERT [dbo].[TRADUCCION] ([TRADUCCION_ID], [CLAVE], [IDIOMA_ID], [TEXTO]) VALUES (2, N'titulo.main', 1, N'Sistema Principal')
INSERT [dbo].[TRADUCCION] ([TRADUCCION_ID], [CLAVE], [IDIOMA_ID], [TEXTO]) VALUES (3, N'titulo.inicio', 1, N'Inicio')
GO
INSERT [dbo].[USUARIO] ([USUARIO_ID], [NOMBRE], [APELLIDO], [USUARIO], [PASS_HASH], [BORRADO], [SALT], [IDIOMA_ID], [INTENTOS], [BLOQUEADO]) VALUES (1, N'facundo', N'lopez', N'faaacu12', N'FYdkMWHkl8kM/cBUWfRSZesTsbqy8nj2Q98+BvdQh+0=', 0, N'iRMks6kBTtsM1HR3DhBUrA==', NULL, 0, 0)
INSERT [dbo].[USUARIO] ([USUARIO_ID], [NOMBRE], [APELLIDO], [USUARIO], [PASS_HASH], [BORRADO], [SALT], [IDIOMA_ID], [INTENTOS], [BLOQUEADO]) VALUES (2, N'Mica', N'Escobar', N'mica', N'Z5E4bn+V3wm5m8LBzNO31a9EiDsaJfSkHh2jfZ8W7hc=', 0, N'G42v/wKtjeCaunMiFi3wxA==', NULL, 2, 1)
GO
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD  CONSTRAINT [FK_AUDITORIA_USUARIO] FOREIGN KEY([USUARIO_ID])
REFERENCES [dbo].[USUARIO] ([USUARIO_ID])
GO
ALTER TABLE [dbo].[AUDITORIA] CHECK CONSTRAINT [FK_AUDITORIA_USUARIO]
GO
ALTER TABLE [dbo].[BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_BITACORA_USUARIO] FOREIGN KEY([USUARIO_ID])
REFERENCES [dbo].[USUARIO] ([USUARIO_ID])
GO
ALTER TABLE [dbo].[BITACORA] CHECK CONSTRAINT [FK_BITACORA_USUARIO]
GO
ALTER TABLE [dbo].[PERFIL_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_PERFIL_PERMISO_PERFIL] FOREIGN KEY([PERMISO_ID])
REFERENCES [dbo].[PERFIL] ([PERFIL_ID])
GO
ALTER TABLE [dbo].[PERFIL_PERMISO] CHECK CONSTRAINT [FK_PERFIL_PERMISO_PERFIL]
GO
ALTER TABLE [dbo].[PERFIL_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_PERFIL_PERMISO_PERMISO] FOREIGN KEY([PERMISO_ID])
REFERENCES [dbo].[PERMISO] ([PERMISO_ID])
GO
ALTER TABLE [dbo].[PERFIL_PERMISO] CHECK CONSTRAINT [FK_PERFIL_PERMISO_PERMISO]
GO
ALTER TABLE [dbo].[SESION]  WITH CHECK ADD  CONSTRAINT [FK_SESION_USUARIO] FOREIGN KEY([USUARIO_ID])
REFERENCES [dbo].[USUARIO] ([USUARIO_ID])
GO
ALTER TABLE [dbo].[SESION] CHECK CONSTRAINT [FK_SESION_USUARIO]
GO
ALTER TABLE [dbo].[TRADUCCION]  WITH CHECK ADD  CONSTRAINT [FK_TRADUCCION_IDIOMA] FOREIGN KEY([IDIOMA_ID])
REFERENCES [dbo].[IDIOMA] ([IDIOMA_ID])
GO
ALTER TABLE [dbo].[TRADUCCION] CHECK CONSTRAINT [FK_TRADUCCION_IDIOMA]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_IDIOMA] FOREIGN KEY([IDIOMA_ID])
REFERENCES [dbo].[IDIOMA] ([IDIOMA_ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_IDIOMA]
GO
ALTER TABLE [dbo].[USUARIO_PERFIL]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PERFIL_USUARIO] FOREIGN KEY([USUARIO_ID])
REFERENCES [dbo].[USUARIO] ([USUARIO_ID])
GO
ALTER TABLE [dbo].[USUARIO_PERFIL] CHECK CONSTRAINT [FK_USUARIO_PERFIL_USUARIO]
GO
/****** Object:  StoredProcedure [dbo].[AgregarIntento]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarIntento]
    @id int
AS
BEGIN
    UPDATE USUARIO
    SET INTENTOS = (SELECT ISNULL(INTENTOS, 0) FROM USUARIO WHERE USUARIO_ID = @id) + 1
    WHERE USUARIO_ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[BloquearUsuario]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BloquearUsuario]
@id int
AS

BEGIN

UPDATE USUARIO
SET BLOQUEADO = 1
WHERE USUARIO_ID = @id

END
GO
/****** Object:  StoredProcedure [dbo].[InsertarBitacora]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarBitacora]
    @usuario INT,
    @fecha DATETIME,
    @actividad VARCHAR(50),
    @criticidad INT
AS
BEGIN
    DECLARE @id int
    SET @id = (SELECT ISNULL(MAX(BITACORA_ID), 0) + 1 FROM BITACORA)

    INSERT INTO Bitacora (BITACORA_ID, USUARIO_ID, Fecha, Actividad, CRITICIDAD_ID)
    VALUES (@id, @usuario, @fecha, @actividad, @criticidad)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarIdioma]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarIdioma]
    @nombre VARCHAR(50),
    @codigo VARCHAR(10)
AS
BEGIN
    DECLARE @id INT;
    SET @id = (SELECT ISNULL(MAX(IDIOMA_ID), 0) + 1 FROM IDIOMA);
    INSERT INTO IDIOMA (IDIOMA_ID, NOMBRE, CODIGO)
    VALUES (@id, @nombre, @codigo);
    SELECT @id AS IDIOMA_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarTraduccion]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarTraduccion]
    @clave    VARCHAR(100),
    @idiomaId INT,
    @texto    VARCHAR(500)
AS
BEGIN
    DECLARE @id INT;
    SET @id = (SELECT ISNULL(MAX(TRADUCCION_ID), 0) + 1 FROM TRADUCCION);
    INSERT INTO TRADUCCION (TRADUCCION_ID, CLAVE, IDIOMA_ID, TEXTO)
    VALUES (@id, @clave, @idiomaId, @texto);
END
GO
/****** Object:  StoredProcedure [dbo].[ListarBitacoraFiltrado]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarBitacoraFiltrado]
    @usuarioIds NVARCHAR(MAX) = NULL,
    @fechaInicio DATETIME = NULL,
    @fechaFin DATETIME = NULL,
    @actividades NVARCHAR(MAX) = NULL,
    @criticidades NVARCHAR(MAX) = NULL
AS
BEGIN
    SELECT BITACORA_ID, USUARIO_ID, Fecha, Actividad, CRITICIDAD_ID
    FROM Bitacora
    WHERE 
        (@usuarioIds IS NULL OR USUARIO_ID IN (SELECT value FROM STRING_SPLIT(@usuarioIds, ',')))
        AND (@fechaInicio IS NULL OR Fecha >= @fechaInicio)
        AND (@fechaFin IS NULL OR Fecha <= @fechaFin)
        AND (@actividades IS NULL OR Actividad IN (SELECT value FROM STRING_SPLIT(@actividades, ',')))
        AND (@criticidades IS NULL OR CRITICIDAD_ID IN (SELECT value FROM STRING_SPLIT(@criticidades, ',')))
    ORDER BY Fecha DESC
END
GO
/****** Object:  StoredProcedure [dbo].[ListarIdiomas]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarIdiomas]
AS
BEGIN
    SELECT IDIOMA_ID, NOMBRE, ISNULL(CODIGO, '') AS CODIGO
    FROM   IDIOMA;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarTraduccionesPorIdioma]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarTraduccionesPorIdioma]
    @idiomaId INT
AS
BEGIN
    SELECT TRADUCCION_ID, CLAVE, IDIOMA_ID, TEXTO
    FROM   TRADUCCION
    WHERE  IDIOMA_ID = @idiomaId;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuario]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ListarUsuario]
AS
BEGIN
SELECT * FROM USUARIO
END
GO
/****** Object:  StoredProcedure [dbo].[ReestablecerIntentos]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReestablecerIntentos]
    @id int
AS
BEGIN
    UPDATE USUARIO
    SET INTENTOS = 0
    WHERE USUARIO_ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[TraerIdiomaPorId]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerIdiomaPorId]
    @id INT
AS
BEGIN
    SELECT IDIOMA_ID, NOMBRE, ISNULL(CODIGO, '') AS CODIGO
    FROM   IDIOMA
    WHERE  IDIOMA_ID = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[TraerIntentos]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TraerIntentos]
@id int
AS

BEGIN

SELECT INTENTOS FROM USUARIO
WHERE USUARIO_ID = @id

END
GO
/****** Object:  StoredProcedure [dbo].[TraerPass]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TraerPass]
    @user varchar(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT PASS_HASH, SALT
    FROM USUARIO
    WHERE USUARIO = @user
      AND BORRADO = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[TraerUsuario]    Script Date: 3/6/2026 21:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[TraerUsuario]
@user varchar(50)
as
begin
select Usuario_ID,  nombre, apellido, bloqueado from USUARIO where USUARIO = @user
end
GO
USE [master]
GO
